*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vw;
}

.images-container {
  display: flex;
}

.image-card {
  height: 200px;
  width: 200px;
  position: relative;
}

.image-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

input[type='file'] {
  display: none;
  width: 100%;
}

input[type='file'] + label {
  font-size: 1.5rem;
  display: inline-block;
  width: 100%;
  background-color: green;
  color: white;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

input[type='submit'] {
  width: 100%;
  font-size: 1.5rem;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  font-size: 1.5rem;
}

/*
 close icon
 */

.gg-close {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: block;
  position: absolute;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
  top: 1rem;
  right: 1rem;
  z-index: 3;
  color: red;
}

.gg-close::after,
.gg-close::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.gg-close::after {
  transform: rotate(-45deg);
}
